<div fxLayout="column" fxFlexFill>
  <div class="header"></div>
  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10">
    <mat-toolbar-row>
      <h1 class="title"><span class="color">RATES</span>API</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div>
        <a mat-button [routerLink]="'/'"> Főoldal </a>
        <a mat-button [routerLink]="'/list'"> Listázás </a>
        <a mat-button [routerLink]="'/login'"> Bejelentkezés </a>
      </div>

      <span class="fill-space"></span>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxFlex="50">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
